body {
    font-family: Arial, sans-serif;
    background-color: #eff3de; /* Цвет фона для создания общей атмосферы */
}

header {
    background-color: #8db600; /* Оранжевый оттенок для заголовка */
    color: white;
    text-align: center;
}

nav {
    background-color: #7b5d44; /* Коричневый оттенок для навигационного меню */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    color: rgb(255, 255, 255);
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

main {
    padding: 20px;
section {
        background-color: #9eb97a;
        font-family: Courier, sans-serif;
        color: #2c501b;
}

}
footer {
    background-color: #8db600; /* Оранжевый оттенок для футера */
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
}

p{
    color: black;
}